@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text1);
  background: var(--surface1);
}

input {
  accent-color: var(--brand);
}

.form-group label {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.app-container {
  grid-template-rows: 3.5rem 1fr;
  min-block-size: 100vb;
}

.app-outer-body {
  grid-template-columns: 16rem 1fr;
}

.app-inner-body {
  grid-template-rows: 1fr 5rem;
}
