@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4b0082;
  --primary-bright: hsl(from var(--primary) h s calc(l + 10));
  --primary-dim: hsl(from var(--primary) h s calc(l - 10));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  accent-color: var(--primary);
}

.form-group label {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.app-container {
  min-block-size: 100vb;
  grid-template-rows: 3.5rem 1fr;
}

.app-outer-body {
  grid-template-columns: 16rem 1fr;
}

.app-inner-body {
  grid-template-rows: 1fr 5rem;
}
