root = true

[*]
indent_style = tab
max_line_length = 160

[{*.csproj,*.props,*.json,*.yml}]
indent_style = space
indent_size = 2

[*.cs]
resharper_csharp_wrap_chained_method_calls = chop_if_long
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long

resharper_csharp_int_align_assignments = true
resharper_csharp_int_align_fields = true
resharper_csharp_int_align_methods = true
resharper_csharp_int_align_nested_ternary = true
resharper_csharp_int_align_parameters = true
resharper_csharp_int_align_properties = true
resharper_csharp_int_align_property_patterns = true
resharper_csharp_int_align_switch_expressions = true
resharper_csharp_int_align_switch_sections = true
resharper_csharp_int_align_variables = true

resharper_csharp_braces_for_for = required
resharper_csharp_braces_for_foreach = required
resharper_csharp_braces_for_ifelse = required
resharper_csharp_braces_for_while = required

resharper_csharp_align_multiline_expression = true
resharper_csharp_align_multiline_extends_list = true
resharper_csharp_align_multiline_for_stmt = true
resharper_csharp_align_multiline_parameter = true
resharper_csharp_align_multiline_property_pattern = true
resharper_csharp_align_multiline_type_parameter_constraints = true
resharper_csharp_align_multiline_type_parameter_list = true
resharper_csharp_align_multiple_declaration = true
resharper_csharp_align_tuple_components = true

resharper_csharp_blank_lines_after_multiline_statements = 1
resharper_csharp_blank_lines_after_block_statements = 1
resharper_csharp_blank_lines_after_control_transfer_statements = 1
resharper_csharp_blank_lines_before_control_transfer_statements = 1

resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1

resharper_csharp_keep_existing_declaration_parens_arrangement = false
resharper_csharp_keep_existing_embedded_arrangement = false
resharper_csharp_keep_existing_initializer_arrangement = false
resharper_csharp_keep_existing_invocation_parens_arrangement = false
resharper_csharp_keep_existing_linebreaks = false
resharper_csharp_keep_existing_property_patterns_arrangement = false
resharper_csharp_keep_existing_switch_expression_arrangement = false
resharper_csharp_keep_existing_arrangement = false
resharper_csharp_keep_existing_attribute_arrangement = false
resharper_csharp_keep_existing_declaration_block_arrangement = false
resharper_csharp_keep_existing_embedded_block_arrangement = false
resharper_csharp_keep_existing_enum_arrangement = false
resharper_csharp_keep_existing_expr_member_arrangement = false
resharper_csharp_keep_existing_list_patterns_arrangement = false
resharper_csharp_keep_existing_primary_constructor_declaration_parens_arrangement = false

resharper_csharp_max_initializer_elements_on_line = 1

## Code analysis

# Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none
# Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none
# Avoid empty interfaces
dotnet_diagnostic.CA1040.severity = none
# Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none
# Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
# Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
# Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none
# Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
# Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none
# Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none
# Pass System.Uri objects instead of strings
dotnet_diagnostic.CA2234.severity = none
# Consider making public types internal
dotnet_diagnostic.CA1515.severity = none
# Avoid unused private fields
dotnet_diagnostic.CA1823.severity = warning
# Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none
# Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

[*Tests.cs]
# Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
